<app-navbar></app-navbar>

<div class="user-bg">

</div>

<div class="user-pic">
    <img class="img-fluid pic" src="./../../../../assets/images/tc.webp" alt="">
</div>

<div *ngIf="userData; else nodata">

    <div class="name">
        <h3>{{userData.firstName}} {{userData.lastName}}</h3>
    </div>

    <div class="container details">
        <div class="row">

            <div class="col-sm-6"><p> AGE : {{userData.age}}</p></div>
            <div class="col-sm-6"><p>GENDER : {{userData.gender}}
            <span *ngIf="userData.gender == 'male' "><i class="fa-solid fa-person"></i></span>
            <span *ngIf="userData.gender == 'female' "><i class="fa-solid fa-person-dress"></i></span>
            </p></div>

        </div>


        <div class="row">

            <div class="col-sm-6">CONTACT INFO : <a href="tel:+{{userData.phoneNo}}"><i class="fa-solid fa-phone"></i> {{userData.phoneNo}}</a> </div>
            <div class="col-sm-6">{{userData.alternatePhoneNo}}</div>
        </div>
    </div>
    <h2>Jobs available..</h2>

</div>

<ng-template #nodata>
   <div class="container">
    <h1 class="text-center">No user exist</h1>
   </div>
</ng-template>