@font-face {
    font-family: "namya";
    src: url('./../../../assets/fonts/joost-a-millionaire-nf.regular.ttf');
}
body {
    font-family: "Lato", sans-serif;
  }
  
  .title{
    font-family: namya;
    font-size: 40px;
    letter-spacing: 4px;
  }

  .firstLetter{
    color: #FF725E;
    font-size: 54px;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF725E;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #FF725E;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 37px;
    cursor: pointer;
    position: relative;
    padding: 14px 16px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #FF725E;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
#main{
    display: flex;
    flex-direction: row;
}

