<app-navbar></app-navbar>

<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <img src="../../../assets/images/About.svg" alt="">
        </div>
        <div class="col-sm-8">
            <h2  style="color:#FF725E">About Us</h2>
            <p>At <span style="color:#FF725E">Job Hunt</span>, we believe in the transformative power of meaningful employment. Our platform is more than just a job portal; it's a dynamic space where job seekers and employers converge to shape promising futures. Whether you're on the lookout for your dream job or seeking talented individuals to join your team, <span style="color:#FF725E">Job Hunt</span> is the bridge that connects aspirations with opportunities.</p>
            <ol>
                <li>Inclusive Opportunities: We are dedicated to promoting diversity and inclusivity. Our platform is designed to embrace talent from all walks of life, fostering a workplace that thrives on unique perspectives.
                </li>
                <li>
            Advanced Matching: Our state-of-the-art algorithms ensure that job seekers and employers find the best fit for their needs. Say goodbye to the hassle of sifting through irrelevant listings or resumes.</li>
            <li>
                Community-Centric: <span style="color:#FF725E">Job Hunt</span> is more than just a transactional platform; it's a community. Join discussions, attend webinars, and stay updated on industry trends. We believe in the power of networking to enhance your career journey.
            </li>
        </ol>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <h4 style="color:#FF725E">Job Category</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nemo? Pariatur, libero nostrum. Placeat animi, harum quisquam assumenda nemo est, adipisci expedita minus incidunt facilis suscipit vel, eligendi ratione voluptate!</p>
        </div>
        <div class="col-sm-4">
            <h4 style="color:#FF725E">Job Seekers</h4>
            <p>Embark on a journey toward professional fulfillment with <span style="color:#FF725E">Job Hunt</span>. Our user-friendly interface empowers you to explore a wide range of job opportunities across industries. Tailor your search with precision, discover companies that align with your values, and apply seamlessly—all in one place. We're not just a job portal; we're your career companion, committed to helping you thrive in a world of endless possibilities.</p>
        </div>
        <div class="col-sm-4">
            <h4 style="color:#FF725E">Job Provider</h4>
            <p>Discover top-tier talent effortlessly with <span style="color:#FF725E">Job Hunt</span>. Post your job listings, showcase your company culture, and connect with a diverse pool of qualified candidates. Our advanced matching algorithms streamline the recruitment process, ensuring that you find the perfect fit for your team. At <span style="color:#FF725E">Job Hunt</span>, we understand that building a successful company starts with assembling the right talent, and we're here to make that journey smoother for you.</p>
        </div>
    </div>




</div>
<app-footer></app-footer>