<div class="container-fluid" style="width: 100%; height: 300px; background-color: #FF725E;">

    <h5 class="text-center text-light mt-3">Job Hunt</h5>


  <div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p><b class="text-light mx-3"><a href="" class="text-light"><i class="fas fa-phone text-light"></i> Contact US</a></b></p>

            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fas fa-home text-light"></i> Home</a></b></p>


            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fa-solid fa-envelope"></i> Mail Us</a></b></p>
        </div>
        <div class="col-sm-4">
            <p><b class="text-light mx-3"><a href="" class="text-light"><i class="fa-brands fa-github"></i> Github</a></b></p>

            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fa-brands fa-instagram"></i> Social Media</a></b></p>


            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fa-solid fa-circle-dollar-to-slot"></i> Donate</a></b></p>
        </div>
        <div class="col-sm-4">
            <p><b class="text-light mx-3"><a href="" class="text-light"><i class="fa-solid fa-handshake-angle"></i> Help Desk</a></b></p>

            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fa-brands fa-x-twitter"></i>Twitter</a></b></p>


            <p><b class="text-light mx-3 mt-2"><a href="" class="text-light"><i class="fas fa-cog text-light"></i> Others</a></b></p>
        </div>
    </div>

    <p><b class="text-center text-light mt-4">This Website provides legal information and referrals. For legal advice, contact a lawyer.
        <br>
        © 2021-2023 License, Legal Line, a Federal Not-for-profit Corporation. All rights reserved.</b></p>
  </div>

</div>
